b {
    display: none;
}

.table_on_white th {
    font-size: 1em;
    text-align: left;
}

.table_on_white thead {
    width: 120px;
}

.result {
    /* margin-top: 3vh; */
    word-wrap: break-word;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: Roboto;
}

.result>table {
    width: 100%;
    margin: 0;
}

.tracking-wrapper {
    /* background-color: #f0efed; */
    background-color: rgb(242, 238, 221);
    background-image: linear-gradient(rgb(125, 226, 252) 0%, rgb(255, 236, 210) 100%);
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    top: 0;
    display: flex;
    font-family: VCR, Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
    text-transform: uppercase;
}

.tracking-form {
    background-color: #f0efed;
    z-index: 0;
    padding: 32px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    width: 50vw;
    height: 80vh;
    min-width: 300px;
    min-height: 330px;
    box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
    word-wrap: break-spaces;
    display: flex;
    flex-direction: column;
}

.tracking-form h1 {
    margin-top: 0;
    margin-bottom: 10%;
    text-align: center;
    font-size: 5rem;
}

input, textarea {
    display: block;
    padding: .5rem .75rem;
    width: 100%;
    font-weight: 400;
    line-height: 1.25;
    color: #55595c;
    font-size: 1em;
    background-color: #fff;
    background-clip: padding-box;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid grey;
    border-left: 0;
    font-family: inherit;
}

.react-form>input:-ms-input-placeholder,
/* IE 10+ */

.react-form>input:-moz-placeholder,
/* Firefox 18- */

.react-form>input::-moz-placeholder,
/* Firefox 19+ */

.react-form>input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-family: VCR, Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
    text-transform: uppercase;
    color: #ababab;
}

.react-form h1 {
    font-size: 3.5em;
    margin-bottom: 6.5%;
}

@media only screen and (max-width: 768px) {
    .tracking-form {
        width: 100vw !important;
        margin: 0;
        overflow: hidden;
        padding: 5vh 5vw 0 5vw;
        min-height: 95vh;
        z-index: 0;
        display: flex;
        flex-direction: column;
    }
    .tracking-wrapper {
        min-width: 100vw;
        min-height: 100vh;
        overflow-x: hidden;
    }
    .result {
        margin-bottom: 2vh;
        max-height: unset !important;
    }
}

.prev-select {
    margin-top: 15px;
}

.table-wrapper th, .table-wrapper td {
    font-size: 1em;
    padding-right: 10px;
}

.table-wrapper tbody {
    text-transform: none;
}

.table-wrapper tbody>tr {
    height: 40px;
}

.table-wrapper tbody>td {
    padding: 0 !important;
    font-size: inherit !important;
}

.table-wrapper thead>tr {
    height: 35px;
}

.noResultsContainer {
    vertical-align: middle;
    text-align: center;
    margin-top: 5%;
    overflow: hidden;
}

#noResultsImg {
    height: 200px;
    width: 200px;
    -webkit-animation: spin 6s linear infinite;
    -moz-animation: spin 6s linear infinite;
    animation: spin 6s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* tbody>tr>td:nth-child(1),
tbody>tr>td:nth-child(3) {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    -ms-word-break: break-all;
    word-break: break-all;
    word-wrap: break-word;
    text-overflow: ellipsis;
} */

/* tbody>tr>td:nth-child(3) {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    -ms-word-break: break-all;
    word-break: break-all;
    word-wrap: break-word;
} */