.emoji-button {
    position: absolute;
    /* text-align: center; */
    font-size: 4em;
    font-family: VCR, Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
    text-transform: uppercase;
    color: #ABABAB;
    z-index: 999;

    width: 1em;
    height: 1em;
}

.emoji-button > img {
    width: 60%;
    height: 60%;
}

.center {
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    font-size: 6em;
}

.top-left {
    margin-left: 0.3em;
    margin-top: 0.3em;
    float: left;
}

.bottom-right {
    /* text-align: right; */
    bottom: 0;
    right: 0;
    /* padding-right: 1em; */
    margin-bottom: 2vh !important;
    width: 1em;
    height: 1em;

    background-repeat: no-repeat;
}

/* .floatingMenuButton {
    margin: 15px;
    position: absolute;
    float: left;
    font-size: 75px !important;
    z-index: 999;
} */

@media only screen and (max-width: 768px) {
    .emoji-button {
        font-size: 5em;
    }

    .top-left {
        font-size: 3em;
    }
    /* .floatingMenuButton {
        font-size: 30px !important;
    } */

    .emoji-button > img {
        width: 45%;
        height: 45%;
    }
}